# Archivos del sistema
.DS_Store
Thumbs.db

# Configuración del IDE
.idea/
*.iml

# Salida de compilación
build/
out/

# Archivos de Gradle
.gradle/

# Archivos de compilación
*.class
*.jar

# Archivos temporales
*.log
*.tmp
*.bak
